<pre>
  
  <img src="../../assets/img/mypic.jpg" width="300px" height="200px">

  
    Name : {{my_name}}

    Age : {{age}}
    
    Email : {{email}}

    My Birthday : {{dob}}

    My Hobbies :

          {{hobby}}

              <img src="../../assets/img/music.jpg" width="150px" height="100px">

          {{hobby1}}

              <img src="../../assets/img/read.png" width="150px" height="120px">
    
    My Favorite Food : 
    
          {{food}}

              <img src="../../assets/img/fries.jpg" width="150px" height="120px">
</pre>